<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Qpathways</title>
</head>
<body>

	<div class="container">
		<div class="jumbotron">
			<h1>Welcome To TriarqHealth(secure)</h1>
			<form action="/patients" th:action="@{/patients}"
				th:formmethod="POST">
				<button type="submit" class="btn btn-primary">patients
					resource</button>
			</form>
		</div>
		 <div th:unless="${error==null}">
        <table class="table">
            <thead>
            <tr>
                <td>Status code</td>
                <td>Error</td>
            </tr>
            </thead>

            <tr>
                <td><span th:text="${error.statusCode}"></span></td>
                <td><span th:text="${error.body}"></span></td>
            </tr>
        </table>
    </div>


    <div th:if="${error==null}">
			<table class="table">
				<thead>
					<tr>
						<td>NAME</td>
						<td>Birthdate</td>
						<td>gender</td>
					</tr>
				</thead>
				<tbody>

					<tr th:each="patients: ${patients}">
						<td><span th:text="${patients.facilityname}"></span></td>
						<td><span th:text="${patients.birthdate}"></span></td>
						<td><span th:text="${patients.gender}"></span></td>


					</tr>

				</tbody>

			</table>
		</div>
	</div>

<div th:fragment="footer">

    <div class="container">

        <footer>
        <!-- this is footer -->
        &copy; 2020 triarqhealth.com
            <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>

        <script type="text/javascript"
                src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        </footer>
    </div>

</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>
</html>